<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){

          for(var i=1;i < 101; i++){

            setTimeout(myFunction(i),500)
          }
  });
})

  function myFunction(i){

    $.ajax({
            url: "welcome/abc",
            data: {id: i.toString() },
            type: 'GET',
            dataType: "text",
            success: function(data) {

             
              var tr;
             
             
                tr = $('<tr/>');
                tr.append("<td>" + data.id + "</td>");
                tr.append("<td>" + data.ethnicity + "</td>");
                tr.append("<td>" + data.sex + "</td>");
                tr.append("<td>" + data.causeOfDeath + "</td>");
                tr.append("<td>" + data.year + "</td>");
                $('table').append(tr);
        }
    });
}
</script>




<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
    <table border=1><tr><th>id</th>
                        <th>ethnicity</th>
                        <th>sex</th>
                        <th>Cause Of Death</th>
                        <th>Year</th></tr></table>
  </div>
