<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){

          $.ajax({
            type: 'GET',
            dataType: "jsonp",
            url: "mongodb://<nsd6275>:<nsd6275>@ds059654.mongolab.com:59654/heroku_vknx18tr",
            success: function(data) {

              console.log(data);
                           



            }



          });



    });


})
</script>





<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
  </div>
