<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){

          $.ajax({
            type: 'GET',
            dataType: "text",
            url: "https://api.mongolab.com/api/1/databases?apiKey=MKIdTGj5QSAvCc2S25oLjRDHuUXDOgEz",
            success: function(data) {

              console.log(data);
                           



            }



          });



    });


})
</script>





<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
  </div>
