<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){

            var i = 1;
            var a = setTimeout(function(){

              if(i%20===0)
              {
                $("#content > tr").detach();
              }


              $.get("data/fetch/"+ i.toString(), function(data) {

             

                var tr;
                tr = $('<tr/>');
                tr.append("<td>" + data[0].id + "</td>");
                tr.append("<td>" + data[0].ethnicity + "</td>");
                tr.append("<td>" + data[0].sex + "</td>");
                tr.append("<td>" + data[0].causeOfDeath + "</td>");
                tr.append("<td>" + data[0].year + "</td>");
                $('#content').append(tr);
                $("#content > tr").fadeOut("fast");
                $("#content > tr").fadeIn("slow");
        
    });  },5000);
          }
  });
})
</script>




<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
    <table border=1><tr><th>id</th>
                        <th>ethnicity</th>
                        <th>sex</th>
                        <th>Cause Of Death</th>
                        <th>Year</th></tr></table>
    <div id="content"></div>
  </div>
