<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){


          for(var i=1;i < 101; i++){

            setTimeout(myFunction(i),500)
          }
  });
})

  function myFunction(i){

    if(i%20===0)
          {
            $("#insurance").html("");
          }


    $.get("data/fetch/"+ i.toString(), function(data) {

             

                var tr;
                tr = $('<tr/>');
                tr.append("<td>" + data[0].id + "</td>");
                tr.append("<td>" + data[0].ethnicity + "</td>");
                tr.append("<td>" + data[0].sex + "</td>");
                tr.append("<td>" + data[0].causeOfDeath + "</td>");
                tr.append("<td>" + data[0].year + "</td>");
                $('#content').append(tr);
        
    });
}
</script>




<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
    <table border=1><tr><th>id</th>
                        <th>ethnicity</th>
                        <th>sex</th>
                        <th>Cause Of Death</th>
                        <th>Year</th></tr></table>
    <div id="content"></div>
  </div>
