<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#button").click(function (){

          for(var i=1;i < 101; i++){

            setTimeout(myFunction(i),500)
          }
  });
})
</script>
<script>
  function myFunction(i){

    $.ajax({
            type: 'GET',
            dataType: "text",
            url: "https://api.mongolab.com/api/1/databases/heroku_vknx18tr/collections/DeathCause/id = "+ i +"/?apiKey=MKIdTGj5QSAvCc2S25oLjRDHuUXDOgEz",
            success: function(data) {

              var json = $.parseJSON(data);
              var tr;
             
             for (var i = 0; i < json.length; i++) {
                tr = $('<tr/>');
                tr.append("<td>" + json[i].id + "</td>");
                tr.append("<td>" + json[i].ethnicity + "</td>");
                tr.append("<td>" + json[i].sex + "</td>");
                tr.append("<td>" + json[i].causeOfDeath + "</td>");
                tr.append("<td>" + json[i].year + "</td>");
                $('table').append(tr);

              }
        }
    });
}
</script>




<div class="container">
    <a type="button" id="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-download"></span> GET DATA</a>
    <table border=1><tr><th>id</th>
                        <th>ethnicity</th>
                        <th>sex</th>
                        <th>Cause Of Death</th>
                        <th>Year</th></tr></table>
  </div>
